<a href="https://colab.research.google.com/github/Thienan12703/Toanroirac/blob/main/Chuong3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ví dụ 1

In [1]:
bongda_VN = ['‘Văn Lâm’, ‘Tiến Dũng’, ‘Anh Đức’, ‘Công Phượng’']
for cau_thu in bongda_VN:
  print ("Ten cau thu VietNam: ", cau_thu)

Ten cau thu VietNam:  ‘Văn Lâm’, ‘Tiến Dũng’, ‘Anh Đức’, ‘Công Phượng’

ví dụ 2

In [3]:
bongda_TG = ['‘Messi’, ‘Ronaldo’, ‘Thonglao’, ‘Mbappé’']
for cau_thu in bongda_TG:
  print ("Ten cau thu The gioi: ", cau_thu)

Ten cau thu The gioi:  ‘Messi’, ‘Ronaldo’, ‘Thonglao’, ‘Mbappé’

ví dụ 3

In [4]:
for bong_VN in bongda_VN:
  for bong_TG in bongda_TG:
    print ("Khả năng tranh chấp quả bóng vàng giữa: ", bong_VN, " với ", bong_TG)

Khả năng tranh chấp quả bóng vàng giữa:  ‘Văn Lâm’, ‘Tiến Dũng’, ‘Anh Đức’, ‘Công Phượng’  với  ‘Messi’, ‘Ronaldo’, ‘Thonglao’, ‘Mbappé’

ví dụ 4

In [5]:
N = 4 #  giả định các số nguyên không vượt quá N là 4
for i1 in range(0, N):
  for i2 in range(0, N):
    for i3 in range(0, N):
      print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
3 0 0
3 0 1
3 0 2
3 0 3
3 1 0
3 1 1
3 1 2
3 1 3
3 2 0
3 2 1
3 2 2
3 2 3
3 3 0
3 3 1
3 3 2
3 3 3

ví dụ 5

In [6]:
for i1 in range(0, N):
  for i2 in range(0, N):
    for i3 in range(0, N):
      if i1 != i2 and i2 != i3 and i1 != i3:
        print (i1, i2, i3)

0 1 2
0 1 3
0 2 1
0 2 3
0 3 1
0 3 2
1 0 2
1 0 3
1 2 0
1 2 3
1 3 0
1 3 2
2 0 1
2 0 3
2 1 0
2 1 3
2 3 0
2 3 1
3 0 1
3 0 2
3 1 0
3 1 2
3 2 0
3 2 1

ví dụ 6

In [7]:
for i1 in range(0, N):
  for i2 in range(i1+1, N):
    for i3 in range(i2+1, N):
      print (i1, i2, i3)

0 1 2
0 1 3
0 2 3
1 2 3

ví dụ 7

In [8]:
for i1 in range(0, N):
  for i2 in range(i1, N):
    for i3 in range(i2, N):
      print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 1
0 1 2
0 1 3
0 2 2
0 2 3
0 3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

ví dụ 7.2

In [10]:
N = 3
ketqua = []
for i1 in range(0, N):
 for i2 in range(i1, N):
   for i3 in range(i2, N):
      ketqua = ketqua + [(i1, i2, i3)]
ketqua
ketqua[3]

(0, 1, 1)

1.2

In [11]:
def implies(a, b):
  if a:
      return b
  else:
      return True
implies(10, 11)
implies(1, 11)
implies(0, 11)

True

1.2.1

In [12]:
x, y = 2, 3
implies(x>=0 and y >=0, x*y >=0) 
x, y = -2, 3
implies(x>=0 and y >=0, x*y >=0)

True

2

In [14]:
N = 3
ketqua = []
for i1 in range(0, N):
 for i2 in range(i1, N):
  for i3 in range(i2, N):
    ketqua = ketqua + [(i1, i2, i3)]
(0, 2, 2) in ketqua

True

In [15]:

(0, 2, 1) in ketqua

False

2-phép giao

In [18]:
A = [0, 1, 2, 3, 4, 5, 6, 7]
B = [2, 4, 6, 8, 10]
def intersection(A, B):
  ketqua = []
  for x in A:
      if x in B:
        ketqua = ketqua + [x]
  return ketqua 
intersection(A, B)

[2, 4, 6]

2-Phép tìm tập hiệu

In [19]:
def difference(A, B):
 ketqua = []
 for x in A:
  if x not in B:
    ketqua = ketqua + [x]
 return ketqua
A = [0, 1, 2, 3, 4, 5, 6, 7]
B = [2, 4, 6, 8, 10]
difference(A, B)

[0, 1, 3, 5, 7]

2-Phép kiểm tra tập con

In [20]:
def isSubSet(A, B):
 ketqua = True # DUNG
 for x in A:
  if x not in B:
    ketqua = False # SAI
 return ketqua
A = [0, 1, 2, 3, 4, 5, 6, 7]
B = [2, 4, 6, 8, 10]
isSubSet(A, B)

False

In [21]:
B = [1, 3, 5, 7]
isSubSet(A, B)

False

In [22]:
isSubSet(B, A)

True

In [23]:
def equalSets(A, B):
 return isSubSet(A, B) and isSubSet(B, A)
equalSets([1, 3, 5, 7], [7, 3, 1, 5])

True

. Bài toán ứng dụng 1: Xây dựng danh sách tour địa điểm du lịch tại TP.HCM

3.1

In [24]:
sodiem_DL = 9
diadiem = ['Cần Giờ', 'Củ Chi', 'Chợ Bến Thành', 'Sở Thú', 'BV thẫm mỹ răng', 'Chí Hòa',
'Dinh Độc lập', 'Bào tàng', 'Trường Văn Lang']
thoigian = [1.0, 1.0, 0.6, 0.4, 1.5, 0.3, 0.3, 0.3, 0.6]
songay_dulich = 1.5

3.2

In [25]:
def lietke_chuoinhiphan(n):
  danh_sach = []
  #bat_dau = 1
  for i in range(0, 2**n): #chay den 2^n-1
    gia_tri = i
    chuoi_np = bin(gia_tri).replace('0b', '')
    while (len(chuoi_np) < n):
      chuoi_np = '0' + chuoi_np
      danh_sach.append(chuoi_np) #them chuoi vao ket qua
      #print (chuoi_np)
  return danh_sach

In [26]:
bin(10)

'0b1010'

In [27]:
bin(10).replace('0b', '')

'1010'

In [28]:
n = 9
chuoi_np = bin(10).replace('0b','')
while (len(chuoi_np) < n):
 chuoi_np = '0' + chuoi_np
chuoi_np

'000001010'

In [29]:
lietke_chuoinhiphan(3)

['00', '000', '01', '001', '010', '011']

In [30]:
lietke_chuoinhiphan(4)

['00',
 '000',
 '0000',
 '01',
 '001',
 '0001',
 '010',
 '0010',
 '011',
 '0011',
 '0100',
 '0101',
 '0110',
 '0111']

In [31]:
def kiemtra_chuoi(chuoi_dang_chon, danhsach, gioihan):
  tong_thoigian = 0
  for j in range(0, len(chuoi_dang_chon)):
    if chuoi_dang_chon(j) == '1':
      tong_thoigian = tong_thoigian + thoigian[j]
  ketqua = True #nghia la OK
  if tong_thoigian > gioihan:
    ketqua = False #khong duoc
  return ketqua, tong_thoigian

In [35]:
def tim_phuongan(thoigian, gioihan):
  search =[]
  cac_phuongan = lietke_chuoinhiphan(len(thoigian))
  for i in range(len(cac_phuongan)):
    diem = kiemtra_chuoi(cac_phuongan[i], thoigian, gioihan)
  if diem==True:
      print (cac_phuongan[i] ,diem)
      search.append(cac_phuongan[i])
  return search

In [ ]:
songay_dulich = 1.5
tim_phuongan(thoigian, songay_dulich)